{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToMeet</title>
    <link rel="stylesheet" href="{% static 'styles/meeting.css' %}">
</head>
<body>
    {{ todo_list }}
    <div class="container">
        <div class="item">Child 01</div>
        <div class="item item2">Child 02</div>
        <div class="item">Child 03</div>
    </div>
</body>
</html>