*{
    box-sizing: border-box;
}

.container{
    border: 100px solid white;
    padding: 20px;
    height: 600px;
    width: 900px;
    background: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.item{
    border: 5px solid white;
    border-radius: 8px;
    height: 105px;
    width: 210px;
    background: violet;
    color: white;
    text-align: center;
    padding: 30px;
}
.item2{
    border: 10px solid purple;
}